- title "Lean Startup Circle Team"

#team
  .row
    .span12
      %h1
        Who's Who?

      %h2
        Getting Things Done

      .person.row
        .profile_pic.span2
          = image_tag 'about/edith_harbaugh.jpg', :class => "img-rounded"
        .name_bio.span10
          .name
            Edith Harbaugh
          .bio
            Moderates the discussion group.
          .links
            = link_to "http://www.linkedin.com/in/edithharbaugh", :linkTracking => 'Profile Link Referral' do
              = image_tag "links/link_linkedin.png"

      .person.row
        .profile_pic.span2
          = image_tag 'about/tristan_l_kromer.jpg', :class => "img-rounded"
        .name_bio.span10
          .name
            Tristan Kromer
          .bio
            Boots on the ground. Moderates the discussion group. Builds the website. Blogs about
            = link_to 'lean startups and customer development', 'http://grasshopperherder.com'
          .links
            = link_to "http://TristanKromer.com/?utm_source=LeanStartupCircle&utm_medium=web&utm_campaign=Team%2Bpage", :linkTracking => 'Profile Link Referral', :title => "This is my home page where I keep a list of my projects." do
              = image_tag 'links/link_home_black.png', :alt => "Tristan Kromer's Homepage"
            = link_to "http://TristanKromer.com/twitter/?utm_source=LeanStartupCircle&utm_medium=web&utm_campaign=Team%2Bpage", :linkTracking => 'Profile Link Referral', :title => "I occasionally tweet." do
              = image_tag "links/link_twitter.png", :alt => "http://twitter.com/tristankromer/"
            = link_to "http://TristanKromer.com/linkedin/?utm_source=LeanStartupCircle&utm_medium=web&utm_campaign=Team%2Bpage", :linkTracking => 'Profile Link Referral', :title => "I use my LinkedIn profile to track connections." do
              = image_tag "links/link_linkedin.png", :alt => "http://LinkedIn.com/in/tristankrome/"
            = link_to "http://TristanKromer.com/quora/?utm_source=LeanStartupCircle&utm_medium=web&utm_campaign=Team%2Bpage", :linkTracking => 'Profile Link Referral', :title => "I ask and answer a lot of questions on Quora." do
              = image_tag "links/link_quora.png", :alt => "http://www.quora.com/Tristan-Kromer"
            = link_to "http://TristanKromer.com/angellist/?utm_source=LeanStartupCircle&utm_medium=web&utm_campaign=Team%2Bpage", :linkTracking => 'Profile Link Referral', :title => "I share awesome companies on AngelList." do
              = image_tag "links/link_angellist.png", :alt => "http://angel.co/trikro"
            = link_to "http://TristanKromer.com/googleplus/?utm_source=LeanStartupCircle&utm_medium=web&utm_campaign=Team%2Bpage", :linkTracking => 'Profile Link Referral', :title => "Apparenlt some people use Google+" do
              = image_tag "links/link_googleplus.png", :alt => "https://plus.google.com/115754677320235199417"
            = link_to "http://TristanKromer.com/slideshare/?utm_source=LeanStartupCircle&utm_medium=web&utm_campaign=Team%2Bpage", :linkTracking => 'Profile Link Referral', :title => "When I create a good deck, I put it on Slideshare." do
              = image_tag "links/link_slideshare.png", :alt => "http://www.slideshare.net/Deridian"
            = link_to "skype:Tristan.Kromer", :linkTracking => 'Profile Link Referral', :title => "You can Skype me if Im on-line, but the phone is really better." do
              = image_tag "links/link_skype.png", :alt => "Tristan.Kromer"
            = link_to "http://TristanKromer.com/facebook/?utm_source=LeanStartupCircle&utm_medium=web&utm_campaign=Team%2Bpage", :linkTracking => 'Profile Link Referral', :title => "I try and stay off Facebook, but some people insist." do
              = image_tag "links/link_facebook.png", :alt => "http://www.facebook.com/kromer"
            = link_to "http://TristanKromer.com/pinterest/?utm_source=LeanStartupCircle&utm_medium=web&utm_campaign=Team%2Bpage", :linkTracking => 'Profile Link Referral', :title => "I pin random things on Pinterest." do
              = image_tag "links/link_pinterest.png", :alt => "http://www.pinterest.com/TriKro"
            = link_to "http://TristanKromer.com/chess/?utm_source=LeanStartupCircle&utm_medium=web&utm_campaign=Team%2Bpage", :linkTracking => 'Profile Link Referral', :title => "I love chess." do
              = image_tag "links/link_chess.png", :alt => "http://www.chess.com/members/view/TriKro"
      .person.row
        .profile_pic.span2
          = image_tag 'about/sean_murphy.png', :class => "img-rounded"
        .name_bio.span10
          .name
            Sean Murphy
          .bio
            Early Customer and Early Revenue for Technology Firms. Maintains the
            = link_to 'wiki.', "http://wiki.leanstartupcircle.com", :linkTracking => 'LSC Wiki Referral'
          .links
            = link_to "http://www.skmurphy.com/", :linkTracking => 'Profile Link Referral' do
              = image_tag "links/link_home_black.png"
            = link_to "http://twitter.com/skmurphy", :linkTracking => 'Profile Link Referral' do
              = image_tag "links/link_twitter.png"
            = link_to "http://www.linkedin.com/in/skmurphy", :linkTracking => 'Profile Link Referral' do
              = image_tag "links/link_linkedin.png"

      %h2.clear
        Advisory Board

      .person.row
        .profile_pic.span2
          = image_tag 'about/rich_collins.jpg', :class => "img-rounded"
        .name_bio.span10
          .name
            Rich Collins
          .bio
            Founded the Lean Startup Circle.
          .links
            = link_to "http://twitter.com/richcollins", :linkTracking => 'Profile Link Referral' do
              = image_tag "links/link_twitter.png"
            = link_to "http://www.linkedin.com/in/richwcollins", :linkTracking => 'Profile Link Referral' do
              = image_tag "links/link_linkedin.png"

      .person.row
        .profile_pic.span2
          = image_tag 'about/hiten_shah.jpg', :class => "img-rounded"
        .name_bio.span10
          .name
            Hiten Shah
          .bio
            Makes us ask the right questions.
          .links
            = link_to "http://twitter.com/hnshah", :linkTracking => 'Profile Link Referral' do
              = image_tag "links/link_twitter.png"

      %h2.clear
        Volunteers

      .person.row
        .profile_pic.span2
          = image_tag 'about/spike_morelli.jpg', :class => "img-rounded"
        .name_bio.span10
          .name
            Spike Morelli
          .bio
            Engineer and bootstrapper. Seeking to help people from good to great and freedom through product development.
          .links
            = link_to "https://www.spikelab.org/", :linkTracking => 'Profile Link Referral' do
              = image_tag "links/link_home_black.png"
            = link_to "http://twitter.com/spikelab", :linkTracking => 'Profile Link Referral' do
              = image_tag "links/link_twitter.png"
            = link_to "http://www.linkedin.com/in/spikemorelli", :linkTracking => 'Profile Link Referral' do
              = image_tag "links/link_linkedin.png"

      .person.row
        .profile_pic.span2
          = image_tag 'about/keith_ratner.jpg', :class => "img-rounded"
        .name_bio.span10
          .name
            Keith Ratner
          .bio
            Designer, builder, co-founder hunter.
          .links
            = link_to "http://www.keithratner.com", :linkTracking => 'Profile Link Referral' do
              = image_tag "links/link_home_black.png"
            = link_to "http://twitter.com/KeithRatner", :linkTracking => 'Profile Link Referral' do
              = image_tag "links/link_twitter.png"
            = link_to "http://www.linkedin.com/in/keithratner", :linkTracking => 'Profile Link Referral' do
              = image_tag "links/link_linkedin.png"