- title "Thanks for signing up!"


%h1 Thanks!
%p You are a truly amazing person.

= form_for current_user do |f|
  = radio_button_tag :frequency, "Monthly"
  = label_tag :frequency_monthly, "Monthly"
  = radio_button_tag :frequency, "Weekly"
  = label_tag :frequency_monthly, "Weekly"
  = radio_button_tag :frequency, "Never"
  = label_tag :frequency_monthly, "Never"
  = f.submit "Subscribe"