- title "Meetups Index | Lean Startup Circle"

#index_admin_meetups
  %h1 Listing Meetups
  = gmaps4rails(@meetups_map)
  = link_to 'New meetup', new_meetup_path

  %table.meetups
    %tr
      %th Name
      %th City
      %th State
      %th Country

    - @meetups.each do |meetup|
      %tr.meetup
        %td= link_to meetup.name, meetup_path(meetup)
        %td= meetup.city
        %td= meetup.state
        %td= meetup.country