- title "Meetups Index | Lean Startup Circle"

#index_meetups
  .row
    .span12
      = gmaps4rails(@meetups_map)
      %table.table.table-condensed.table-striped.meetups
        %caption
          %h1{ :style => "display: inline"}
            Lean Startup Meetups Worldwide
          %span.pull-right
            = link_to new_meetup_path, :class => "btn btn-primary"
        %thead
          %tr
            %th Name
            %th City
            %th State
            %th Country
            %th Links
        %tbody
          - @meetups.each do |meetup|
            %tr.meetup
              %td= link_to meetup.name, meetup.link
              %td= meetup.city
              %td= meetup.state
              %td= meetup.country
              %td
                = link_to_if(!meetup.meetup_link.blank?, "#{image_tag 'links/link_meetup.png', :width => '50px'}".html_safe, meetup.meetup_link){}
                = link_to_if(!meetup.facebook_link.blank?, "#{image_tag 'links/link_facebook.png'}".html_safe, meetup.facebook_link){}
                = link_to_if(!meetup.linkedin_link.blank?, "#{image_tag 'links/link_linkedin.png', :width => '50px'}".html_safe, meetup.linkedin_link){}
                = link_to_if(!meetup.twitter_link.blank?, "#{image_tag 'links/link_twitter.png'}".html_safe, meetup.twitter_link){}
                = link_to_if(!meetup.googleplus_link.blank?, "#{image_tag 'links/link_googleplus.png'}".html_safe, meetup.googleplus_link){}
