- title @group.name

#show_groups
  %h1= @group.name
  %p= @group.address
  %p= @group.description.html_safe unless @group.description.blank?
  %p= link_to @group.meetup_link

  = link_to 'Index', groups_path
  \|
  = link_to 'New meetup', new_group_path
