.group_gmap_window
  = link_to group.link, :linkTracking => 'LSC Group Referral' do
    .name
      %h4= group.name
    .location
      = group.address
  .links
    = link_to_if(!group.meetup_link.blank?, "#{image_tag 'links/link_meetup.png'}".html_safe, group.meetup_link, :linkTracking => 'LSC Group Referral'){}
    = link_to_if(!group.facebook_link.blank?, "#{image_tag 'links/link_facebook.png'}".html_safe, group.facebook_link, :linkTracking => 'LSC Group Referral'){}
    = link_to_if(!group.linkedin_link.blank?, "#{image_tag 'links/link_linkedin.png'}".html_safe, group.linkedin_link, :linkTracking => 'LSC Group Referral'){}
    = link_to_if(!group.twitter_link.blank?, "#{image_tag 'links/link_twitter.png'}".html_safe, group.twitter_link, :linkTracking => 'LSC Group Referral'){}
    = link_to_if(!group.googleplus_link.blank?, "#{image_tag 'links/link_googleplus.png'}".html_safe, group.googleplus_link, :linkTracking => 'LSC Group Referral'){}
  = link_to group.link, :linkTracking => 'LSC Group Referral' do
    .description
      = group.description.html_safe unless group.description.blank?
