- title @user.identifier + " | Lean Startup Circle"

#show_users
  %h1= @user.name
  %p
    Email
    = @user.email
  %p
    Zip Code
    = @user.zip_code
  %p
    Company Name
    = @user.company_name
  %p
    Phone
    = @user.phone