- title "Meetups"

#index_admin_meetups
  %table.table.table-striped.table-condensed.table-bordered
    %caption
      %h1
        Listing Meetups
        = link_to 'Add a Meetup', new_admin_meetup_path, :class => "btn btn-primary"
    %thead
      %tr
        %th Name
        %th Location
        %th Circle?
        %th Approval
        %th
    %tbody
      - @meetups.each do |meetup|
        %tr.meetup
          %td= link_to meetup.name, admin_meetup_path(meetup)
          %td= meetup.address
          %td
            - if meetup.lsc == true
              = form_for [:admin, meetup] do |f|
                = f.hidden_field :lsc, :value => false
                = f.submit '', :class => "icon-ok btn btn-link"
            - else
              = form_for [:admin, meetup] do |f|
                = f.hidden_field :lsc, :value => true
                = f.submit '', :class => "icon-remove btn btn-link"
          %td
            - if meetup.approval == true
              = form_for [:admin, meetup] do |f|
                = f.hidden_field :approval, :value => false
                = f.submit '', :class => "icon-ok btn btn-link"
            - else
              = form_for [:admin, meetup] do |f|
                = f.hidden_field :approval, :value => true
                = f.submit '', :class => "icon-remove btn btn-link"
          %td
            = link_to '', admin_meetup_path(meetup), :class => "icon-eye-open"
            = link_to '', edit_admin_meetup_path(meetup), :class => "icon-edit"
            = link_to '', admin_meetup_path(meetup), :class => "icon-trash", :confirm => 'Are you sure?', :method => :delete