- title " | Lean Startup Circle"

#show_meetups
  %h1= @meetup.name
  = image_tag @meetup.thumbnail_url
  %p #{ @meetup.city}, #{ @meetup.state + ", " if !@meetup.state.blank? } #{ @meetup.country } (#{ @meetup.latitude }, #{ @meetup.longitude })
  %p= @meetup.description.html_safe unless @meetup.description.blank?
  %p= link_to @meetup.link

  = link_to 'Edit', edit_admin_meetup_path(@meetup)
  \|
  = link_to 'Destroy', admin_meetup_path(@meetup), :confirm => 'Are you sure?', :method => :delete
  \|
  = link_to 'Index', meetups_path
  \|
  = link_to 'New meetup', new_admin_meetup_path
