- title "Authentications"
%table.table.table-striped.table-condensed.table-bordered
  %caption
    %h1 Listing Authentications
  %thead
    %tr
      %th User
      %th Provider
      %th Uid
      %th
      %th
  %tbody
    - for authentication in @authentications
      %tr
        %td= link_to authentication.user.name, admin_user_url(authentication.user)
        %td= authentication.provider
        %td= authentication.uid
        %td= link_to_if(!authentication.url.blank?, "#{image_tag 'links/link_' + authentication.provider + '.png', :width => '25px'}".html_safe, authentication.url){}
        %td= link_to "Destroy", admin_authentication_url(authentication), :confirm => 'Are you sure?', :method => :delete