= form_for [:admin, @group] do |f|
  - if @group.errors.any?
    #error_explanation
      %h2= "#{pluralize(@group.errors.count, "error")} prohibited this group from being saved:"
      %ul
        - @group.errors.full_messages.each do |msg|
          %li= msg

  %br
  .field
    = f.label :name, 'Name'
    = f.text_field :name
  .field
    = f.label :user_id, 'User ID'
    = f.number_field :user_id
  .field
    = f.label :description, 'Description'
    = f.text_area :description
  .field
    = f.label :home_link, 'Home Link'
    = f.url_field :home_link
  .field
    = f.label :facebook_link, 'Facebook Link'
    = f.url_field :facebook_link
  .field
    = f.label :twitter_link, 'Twitter Link'
    = f.url_field :twitter_link
  .field
    = f.label :city, 'City'
    = f.text_field :city
  .field
    = f.label :state, 'State'
    = f.text_field :state
  .field
    = f.label :country, 'Country'
    = f.text_field :country
  .field
    = f.label :latitude, 'Latitude'
    = f.text_field :latitude
  .field
    = f.label :longitude, 'Longitude'
    = f.text_field :longitude
  .field
    = f.label :approval, 'Approval'
    = f.label 'True'
    = f.radio_button :approval, true
    = f.label 'False'
    = f.radio_button :approval, false

  .actions
    = f.submit 'Submit'