- title @group.name + " | Lean Startup Circle Admin"

#edit_admin_groups
  %h1= @group.name
  %p #{ @group.city}, #{ @group.state + ", " if !@group.state.blank? } #{ @group.country } (#{ @group.latitude }, #{ @group.longitude })
  %p= @group.description.html_safe unless @group.description.blank?
  %p= link_to @group.home_link

  = link_to 'Edit', edit_admin_group_path(@group)
  \|
  = link_to 'Destroy', admin_group_path(@group), :confirm => 'Are you sure?', :method => :delete
  \|
  = link_to 'Index', admin_groups_path
  \|
  = link_to 'New group', new_admin_group_path
