= form_for [:admin, @user] do |f|
  -if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  %br
  .field
    = f.label :name, 'First Name'
    = f.text_field :name
  .field
    = f.label :role, 'Role'
    = f.text_field :role
  .field
    = f.label :email, 'Email'
    = f.text_field :email
  .field
    = f.label :zipcode, 'Zipcode'
    = f.text_field :zipcode
  .field
    = f.label :phone, 'Phone'
    = f.text_field :phone

  .actions
    = f.submit 'Submit'