- title "Users Index | Lean Startup Circle"

#index_admin_users
  %h1 Listing Users
  = link_to 'New user', new_admin_user_path

  %table.users
    %tr
      %th Name
      %th Email
      %th Zip
      %th Role
      %th
      %th

    - @users.each do |user|
      %tr.user
        %td= link_to user.name, admin_user_path(user)
        %td= user.email
        %td= user.zip_code
        %td= user.role
        %td= link_to 'Show', admin_user_path(user)
        %td= link_to 'Edit', edit_admin_user_path(user)
        %td= link_to 'Imitate', admin_user_imitate_path(user), :confirm => 'Are you sure?'
        %td= link_to 'Destroy', admin_user_path(user), :confirm => 'Are you sure?', :method => :delete