- title " | Lean Startup Circle"

#show_users
  %h1= @user.name
  %p
    Email
    = @user.email
  %p
    Zipcode
    = @user.zipcode
  %p
    Role
    = @user.role
  %p
    Phone
    = @user.phone

  = link_to 'Edit', edit_admin_user_path(@user)
  \|
  = link_to 'Destroy', admin_user_path(@user), :confirm => 'Are you sure?', :method => :delete
  \|
  = link_to 'Index', admin_users_path
  \|
  = link_to 'Imitate', admin_user_imitate_path(@user), :confirm => 'Are you sure?'
  \|
  = link_to 'New user', new_admin_user_path
