%footer
  .container
    .row
      .span8

        %span#copyright
          &copy;
          = Time.now.year
          = link_to "LeanStartupCircle", root_url(:subdomain => false), :style => "text-decoration: none;"

      .span4
        %span#footermenu
          = link_to "Team", :team
          &#8226;
          = link_to "Blog", root_url(:subdomain => "blog"), :target => "_blank"
          &#8226;
          = link_to 'Contact', contact_url(:subdomain => false)

