%footer
  .container
    .row
      .span8
        %span#copyright
          &copy;
          = Time.now.year
          = link_to "LeanStartupCircle", root_url, :style => "text-decoration: none;"

      .span4
        %span#footermenu
          = link_to "Team", :team
          &#8226;
          = link_to 'Contact', contact_url
          &#8226;
          Get social with
          = link_to 'http://twitter.com/leancircle', :title => "Lean Startup Circle on Twitter", :class => "nodec" do
            %span.pics
              = image_tag 'links/link_twitter.png'
          = link_to 'http://facebook.com/leanstartupcircle', :title => "Lean Startup Circle on Facebook", :class => "nodec" do
            %span.pics
              = image_tag 'links/link_facebook.png'
          = link_to 'http://linkedin.com/groups?home=&gid=2789385', :title => "Lean Startup Circle on LinkedIn", :class => "nodec" do
            %span.pics
              = image_tag 'links/link_linkedin.png'
          = link_to 'http://blog.leanstartupcircle.com', :title => "Lean Startup Circle's blog", :target => '_black', :class => "nodec" do
            %span.pics
              = image_tag 'links/link_blog.png'