%head
  %title
    Lean Startup Circle - Building Lean Leaders

  %meta{:content => "width=device-width", :name => "viewport"}/
  = favicon_link_tag
  = stylesheet_link_tag 'application'
  = javascript_include_tag 'application'
  = csrf_meta_tag
  = render '/layouts/google_analytics'