%head
  = airbrake_javascript_notifier
  %title
    - if !yield(:title).blank?
      = yield :title
      &#8226;
    Lean Startup Circle &#8226; Building Lean Leaders

  %meta{:charset => "utf-8"}
  %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
  %meta{:content => "", :name => "description"}
  %meta{:content => "width=device-width", :name => "viewport"}

  = favicon_link_tag
  = stylesheet_link_tag 'application'
  = javascript_include_tag 'application'
  = csrf_meta_tag
  = render '/layouts/google_analytics'