%header.page_header
  .container
    .row
      .span12.relative
        = link_to root_url(:subdomain => false), :id => 'logo', :class => 'nodec' do
          = image_tag "icons/leanstartupcircle_logo.png"
        - if !((request.subdomain.blank? || request.subdomain == "www") && request.path == root_path ) || user_signed_in?
          .utility_nav.pull-right
            - if user_signed_in?
              Welcome
              = link_to current_user.first_name, current_user
              = link_to current_user, :class => "nodec" do
                = image_tag current_user.image, :width => 25
              &#8226;
              = link_to "Sign out", sign_out_url(:subdomain => false), :method => :delete
            - else
              = link_to "Sign in", sign_in_url(:subdomain => false)
              &#8226;
              = link_to "Sign up", new_user_registration_url(:subdomain => false)
        .clear
        = render 'groups/show_nearest'
    .row
      .span12
        = render '/layouts/nav'