%header.page_header
  .container
    .row
      .span8
        = link_to root_url, :id => 'logo', :class => 'nodec' do
          = image_tag "icons/leanstartupcircle_logo.png"
      .span4
        .row
          .utility_nav.pull-right
            - if request.path == '/forum'
              To post, sign into the google forum
            - elsif user_signed_in?
              Welcome
              - if !current_user.first_name.blank?
                = link_to current_user.first_name, current_user
              = link_to current_user, :class => "nodec" do
                - if !current_user.image.blank?
                  = image_tag current_user.image, :width => 25
              &#8226;
              = link_to "Sign out", :sign_out, :method => :delete
            - else
              = link_to "Sign in", :sign_in

        .row
          = render '/layouts/nav'