%header.page_header
  .container
    .row
      .span20
        = link_to root_url(:subdomain => false), :id => 'logo', :class => 'nodec' do
          = image_tag "leanstartupcircle_logo.png"
      .span4
        .pull-right
          - if user_signed_in?
            = current_user.identifier
            = link_to "Sign out", :sign_out, :method => :delete
          - else
            = link_to "Sign in", :sign_in
          = render 'meetups/show_nearest'
    .row
      .span24
        = render '/layouts/nav'