%header.page_header
  .container
    .row
      .span10
        = link_to root_url(:subdomain => false), :id => 'logo', :class => 'nodec' do
          = image_tag "icons/leanstartupcircle_logo.png"
      .span2
        .pull-right
          - if user_signed_in?
            = current_user.identifier
            = link_to "Sign out", sign_out_url(:subdomain => false), :method => :delete
          - else
            = link_to "Sign in", sign_in_url(:subdomain => false)
          = render 'meetups/show_nearest'
    .row
      .span12
        = render '/layouts/nav'