%nav.navbar
  .navbar-inner
    %ul.nav
      %li.dropdown
        = link_to 'Forum', forum_url
        %ul.dropdown-menu
          %li= link_to 'Forum', forum_url
          %li= link_to 'Posting Guide', guidelines_url
          %li= link_to 'Moderation Guide', moderation_guidelines_url
      %li.divider-vertical

      %li.dropdown
        = link_to 'Meetups', groups_url
        %ul.dropdown-menu
          %li= link_to 'Find a Meetup', groups_url
          %li= link_to 'Add a Meetup', new_group_url
          -# TODO Make this a router method
          - if on_heroku?
            %li= link_to 'Start your own', "http://leanstartup.pbworks.com/w/page/55605569/Organizer's%20Guide", :linkTracking => 'LSC Wiki Referral', :target => '_blank'
          - else
            %li= link_to 'Start your own', "/wiki/Home"
      %li.divider-vertical

      -# TODO Make this a router method
      - if on_heroku?
        %li= link_to 'Wiki', 'http://wiki.leanstartupcircle.com', :linkTracking => 'LSC Wiki Referral', :target => '_blank'
      - else
        %li= link_to 'Wiki', '/wiki/Home'
      %li.divider-vertical

      %li.dropdown
        = link_to 'About', team_url
        %ul.dropdown-menu
          %li= link_to 'Team', team_url
          %li= link_to 'Blog', 'http://blog.leanstartupcircle.com', :target => '_blank'
          %li= link_to 'Contact', contact_url
      %li.divider-vertical