!!!
%html
  = render '/layouts/head'

  %body
    %content
      = render '/layouts/header'
      %content_inner
        = render :partial => '/layouts/flash', :locals => { :flash => flash }
        = yield

      = render '/layouts/footer'